* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Principal */
  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;
  /* Base */
  --gray-100:#0D0E11;
  --gray-200:#16181D;
  --gray-300:#292C34;
  --gray-400:#878EA1;
  --gray-500:#C0C4CE;
  --gray-600:#E2E4E9;
  /* Fonte Asap */
  --font-asap:'Asap', sans-serif;
  --title-lg:700 56px/120% var(--font-family);
  --title-md:700 24px/120% var(--font-family);
  --title-sm:700 16px/120% var(--font-family);
  /* Fonte Incosolata */
  --font-inconsolata:'Inconsolata', sans-serif;
  --subtitle:400 20px/120% var(--font-inconsolata);
  /* Fonte Maven_Pro */
  --font-maven-pro:'Maven_pro', sans-serif;
  --text-md:400 16px/140% var(--font-maven-pro);
  --text-sm:400 14px/140% var(--font-maven-pro);
}

body {
  background-color: var(--gray-200);
}

#social_media {
  display: flex;
  gap: 8px;
}

#social_media p {
  align-items: center;
}